*.class
*.log
/target/
/target/*
/handler/
/handler/*
/.idea/*
/.idea/
/.aws-sam/
/.aws-sam/*
/project/target/
/project/build.properties
/project/project/target/config-classes/
/node_modules/
/.bsp/
/shared/target/
/frontend/target/
/backend/target/
